/*---Expand searchbar--*/
.expand-search-box {
  position: absolute;
  @include rem-size(right,16px);
  background: map_get($colors,baseWhite);
  @include rem-size(height,40px);
  border-radius: 60px;
  padding: 5px;
  top: 50%;
  transform: translateY(-50%);
}

/* input */
.expand-search-input {
  outline: none;
  border: none;
  background: none;
  @include rem-size(height,30px);
  padding: 0;
  color: map_get($colors,typotext);
  float: left;
  font-size: 14px;
  transition: .3s;
  @include em-calc-size(line-height,30px);
  width: 0;
}

.expand-search-input::placeholder {
  color: map_get($colors,typodim);
}

/* icon */
.expand-search-btn {
  color: map_get($colors,primary);
  float: right;
  @include rem-sqSize(30px);
  border-radius: 60px;
  background: map_get($colors,baseWhite);
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  transition: .3s;
}

.expand-search-input:focus,
.expand-search-input:not(:placeholder-shown) {
  @include rem-size(width,240px);
  @include rem-2Sider(padding,0px, 6px);
}

.expand-search-box:hover > .expand-search-input {
  @include rem-size(width,240px);
  @include rem-2Sider(padding,0px, 6px);
}

.expand-search-box:hover > .expand-search-btn,
.expand-search-input:focus + .expand-search-btn,
.expand-search-input:not(:placeholder-shown) + .expand-search-btn {
  background: map_get($colors,primary);
  color: map_get($colors,baseWhite);
}
/*---Expand searchbar ended--*/