* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: map_get($fonts, primary);
}

.hr-c {
  @include flex_hrc;
}

.vr-c {
  @include flex_vrc;
}

.ttu {
  @include ttu;
}

%fw {
  @include fw;
}

strong,
.strong {
  font-weight: bold;

  & > {
    font-weight: bold;
  }
}

.cmn {
  &-fw {
    @extend %fw;
  }

  &-aw {
    position: relative;
    width: auto;
  }

}

.white-space-pre-wrap {
  white-space: pre-wrap !important;
}

.break-word {
  overflow-wrap: break-word !important;
  word-wrap: break-word !important;
  word-break: break-word !important;
}
.w-unset {
  width: unset;
}
